name: 构建Android应用

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
  pull_request:
    branches: [ master ]
  workflow_dispatch:
permissions:
  contents: read

env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  buildAndroid:
    runs-on: windows-latest
    name: 构建安卓
    
    steps:
      - name: 检查
        uses: actions/checkout@v4

      - name: 安装.NET8
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 8.0.x

      - name: 安装安卓工作负载
        run: dotnet workload install android

      - name: 安装Android SDK Tools
        uses: android-actions/setup-android@v2.0.2

      - name: 安装Java JDK
        uses: actions/setup-java@v3.12.0
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: 构建
        run: |
          cd SealOrder.Android
          dotnet build -c Release
          cd bin/Release/net8.0-android
          ls

      - name: 上传Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.TOKEN }}
          file:  SealOrder.Android/bin/Release/net8W.0-android/*.apk
          tag: '114'
          release_name: '114'
          overwrite: true
          file_glob: true
          body: ""
